<div id="contact">
    <div class="sectionheader">

    </div>
    <div class="sectionbody">
        <h1>Contact me</h1>
        <p>I'd love to hear from you. I am open for your question!</p>
        <p>Write me an email: <a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a></p>
        <div id="socials">
            <h2>My Social Accounts</h2>
            <p>Linkedin: <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">https://linkedin.com/in/{{ site.linkedin_username }}</a></p>
            <p>Github: <a href="https://github.com/{{ site.github_username }}" target="_blank">https://github.com/{{ site.github_username }}</a></p>
            <p>Stackoverflow: <a href="https://stackoverflow.com/users/10522652/pascal-burkard" target="_blank">https://stackoverflow.com/users/10522652/pascal-burkard</a></p>
            <p>Instagram: <a href="https://www.instagram.com/pbrkrd/" target="_blank">https://www.instagram.com/pbrkrd/</a></p>
        </div>
        <div id="it-help">
            <h2>Do you need IT related help?</h2>
            <button class="button-secondary" onclick="window.location.href='2022/02/28/help'">Help</button>
        </div>
    </div>
</div>