{% capture linkedin %}https://linkedin.com/in/{{ site.linkedin_username }}{% endcapture %}
{% capture instagram %}https://www.instagram.com/pbrkrd/{% endcapture %}

<div id="contact">
    <div class="sectionheader">

    </div>
    <div class="sectionbody">
        <h1>Contact me</h1>
        <p>I would love to hear from you!</p>
        <div id="contact-links" class="button-group">
            <button class="button-primary" onClick="window.open('mailto:{{ site.email }}','_blank')"><i class="fa-solid fa-at"></i>Email</button> 
            <button class="button-primary" onClick="window.open('{{ linkedin }}','_blank')" type="button"><i class="fa-brands fa-linkedin-in"></i>Linkedin</button>
            <button class="button-primary" onClick="window.open('{{ instagram }}','_blank')" type="button"><i class="fa-brands fa-instagram"></i>Instagram</button>
        </div>
        <div id="it-help">
            <p>Do you need IT related help?</p>
            <button class="button-primary" onclick="window.location.href='2022/02/28/help'">Help</button>
        </div>
    </div>
</div>