<div id="introduction">
    <div class="sectionheader"></div>
    <div class="sectionbody">
        <h1>Let me introduce myself</h1>
        <div>
            <p id="introduction-text">
                I am {{ site.title }} and I am a passionate IT specialist. This year, I will start studying Robotics at the FHNW in Brugg.
                Since November 2021 I am taking a "break" to focus on my general health and my hobbies, which is robotics and astronomy. 
                <br>My <u>career goal</u> is to <u>combine both of them</u> on a daily basis.
            </p>
        </div>
        <div>
            <img src="{{ '/assets/images/portrait_picture.JPG' | relative_url }}" alt="Portrait Picture Pascal Burkard" id="portrait-picture">
        </div>
    </div>
    <!-- <button class="button-type1" onclick="window.location.href='about'">About</button> -->
</div>
