<div class="navbar" id="navbar">
    <a id="icon-open" onclick="navOpen()">
        <i class="fa fa-bars"></i>
    </a>
    <a id="icon-close">
        <i class="fa fa-x"></i>
    </a>
    <a href="/#home">Home</a>
    <a href="/#projects">Projects</a>
    <a href="/#introduction">About</a>
    <a href="/#contact">Contact</a>
    
    {% if page.category %}
    {% for category in site.categories %}
    {% if category.first == page.category %}
    
    {% for post in category.last %}
        <a href="{{ post.url }}" class="item-category">{{ post.title }}</a>
    {% endfor %}

    <!-- <a class="item-category-title">{{ category.first }}:</a> -->
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
<script>
    var navbar = document.getElementById("navbar");
    document.body.addEventListener('click', function () {
        if (navIsOpen()) {
            navClose();
        }
    }, true);

    function navIsOpen() {
        if (navbar.classList.contains("open")) {
            return true;
        } else {
            return false;
        }
    }

    function navOpen() {
        if (!navIsOpen()) {
            navbar.classList.add("open");
        }
    }

    function navClose() {
        if (navIsOpen()) {
            navbar.classList.remove("open");
        }
    }
</script>