{% capture github %}https://github.com/{{ site.github_username }}{% endcapture %}
{% capture stackoverflow %}https://stackoverflow.com/users/10522652/pascal-burkard{% endcapture %}

<div id="projects">
    <div class="sectionbody">
        <h1>Projects</h1>
        {% include post_list.html %}
        <div id="contact-links" class="button-group">
            <button class="button-primary" onClick="window.open('{{ github }}','_blank')" type="button"><i class="fa-brands fa-github"></i>Github</button>
            <button class="button-primary" onClick="window.open('{{ stackoverflow }}','_blank')" type="button"><i class="fa-brands fa-stack-overflow"></i>Stackoverflow</button>
        </div>
    </div>
</div>