---
---

html, body{
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
    color: black;
}

$color_primary: #47597e;
$color_secondary: #6b7a97;
$color_third: #a3acbe;
$color_complementary1: #51477e;
$color_complementary2: #47757e;
$font_size_standard: 1.25em;

@import 'navbar.scss';

h1{
    font-size: 4em;
    font-weight: bold;
    @media screen and (max-width: 600px) {
        font-size: 2.5em;
    }
}

h2{
    font-size: 2em;
    font-weight: normal;
    @media screen and (max-width: 600px) {
        font-size: 1em;
    }
}

p {
    font-size: 1.25em;
    font-weight: lighter;
    @media screen and (max-width: 600px) {
        font-size: 1em;
    }
}

@mixin button() {
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    border: none;
    background-color: white;
    color: black;
    margin: 10px 0;
    font-size: $font_size_standard;
    &:hover{
        cursor: pointer;
    }
}

.button-primary {
    @include button();
    background-color: $color_primary;
    color: white;
    &:hover{
        background-color: $color_secondary;
    }
}

.button-secondary {
    @include button();
    background-color: $color_secondary;
    color: white;
    &:hover{
        background-color: $color_third;
    }
}

.button-group {
    margin: 30px 0;
    padding-right: 20%;
    & i {
        margin-right: 10px;
    }
    & button {
        min-width: 200px;
        margin-top: 5px;
        margin-bottom: 0;
    }
}

@mixin page-separation {
    border-top: solid $color_secondary 10px;
}

@mixin content {
    padding: 10%;
}

// .sectionheader {
//     height:10px;
//     width: 100%;
//     background-color: $color_secondary;
// }

.sectionbody{
    padding:10%;
}

.sectionfooter{
    height:10px;
    width: 40%;
    float: right;
    background-color: $color_primary;
}

@mixin section() {
    min-height: 100%;
}

#home {
    @include section();
    background-color: $color_primary;
    color: white;
    // position: relative;
    // z-index: -1;
}

#projects{
    @include section();
    @include page-separation();
    background-color: white;
}

#introduction {
    @include section();
    @include page-separation();
    display: table;
    background-color: white;
}

#contact {
    @include section();
    @include page-separation();
    background-color: white;
}

#post-list {
    margin-bottom: 60px;
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
    }
    & li {
        margin: 10px 0;
        & a {
            color: black;
            text-decoration: none;
            font-size: $font_size_standard;
            & i {
                font-size: 0.6em;
                vertical-align: middle;
                display: none;
            }
            & p {
                border: solid $color_secondary 1px;
                padding: 5px;
                font-size: 0.5em;
                display: inline-block;
            }
            &:hover {
                color: $color_primary;
                padding-left: 6px;
                & i {
                    display: inline-block;
                }
            }
        }
    }
}

#portrait-picture{
    width: 80%;
    max-width: 400px;
}

#home-background-animation{
    position: absolute;
    height: 50px;
    width: 80px;
    border-radius: 20%;
    background-color: white;
}

footer {
    @include page-separation();
    @include content();
    background-color: $color_secondary;
    color: white;
    & p {
        font-size: 1em;
    }
    & a {
        color: white;
    }
}

.scroll-hint {
    position: absolute; 
    width: 100%; 
    text-align: center; 
    top: 95%;
    color: $color_secondary;
}