---
---

html, body{
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
    color: black;
}

$color_primary: #47597e;
$color_secondary: #6b7a97;
$color_third: #a3acbe;
$color_complementary1: #51477e;
$color_complementary2: #47757e;
$font_size_standard: 1.25em;

@mixin content {
    padding: 10%;
}

h1{
    font-size: 4em;
    font-weight: bold;
    @media screen and (max-width: 600px) {
        font-size: 2.5em;
    }
}

h2{
    font-size: 2em;
    font-weight: normal;
    @media screen and (max-width: 600px) {
        font-size: 1em;
    }
}

p {
    font-size: 1.25em;
    font-weight: lighter;
    @media screen and (max-width: 600px) {
        font-size: 1em;
    }
}

@mixin button() {
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    border: none;
    background-color: white;
    color: black;
    margin: 10px 0;
    font-size: $font_size_standard;
    & i {
        margin-right: 10px;
    }
    &:hover{
        cursor: pointer;
    }
}

.button-primary {
    @include button();
    background-color: $color_primary;
    color: white;
    &:hover{
        background-color: $color_secondary;
    }
}

.button-secondary {
    @include button();
    background-color: $color_secondary;
    color: white;
    &:hover{
        background-color: $color_third;
    }
}

.button-group {
    margin: 30px 0;
    padding-right: 20%;
    & button {
        min-width: 200px;
        margin-top: 5px;
        margin-bottom: 0;
    }
}

footer {
    @include content();
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: $color_secondary;
    color: white;
    & p {
        font-size: 1em;
    }
    & a {
        color: white;
    }
}

@import 'navbar.scss';
@import 'home.scss';