---
layout: root
---
<header>
    {% include navbar.html %}
</header>
<main>
    <div id="home">
        <div class="sectionbody">
            <h1>Hi!<br>My name is {{ site.title }}.</h1>
            <h2>This is my personal website.</h2>
            <!-- <div id="home-background-animation"></div> -->
            <!-- {% include solar_system.html %} -->
        </div>

        <div class="scroll-hint-arrow">
            <i class="fa-solid fa-chevron-down"></i>
        </div>
    </div>
    {% include projects.html %}
    {% include introduction.html %}
    {% include contact.html %}
</main>
{% include footer.html %}